@using Data.Dto_s;
@using Data.Entities;
@inject IHttpContextAccessor context;
@{
    ViewData["Title"] = "AdminDashboard";
    MyUserDto user = (Data.Dto_s.MyUserDto)ViewData["admin"];
    IEnumerable<User> users = (IEnumerable<Data.Entities.User>)ViewData["users"];
    IEnumerable<Course> courses = (IEnumerable<Data.Entities.Course>)ViewData["allCourses"];
    IEnumerable<Cycle> cycles = (IEnumerable<Data.Entities.Cycle>)ViewData["allCycles"];
    IEnumerable<Status> statuses = (IEnumerable<Data.Entities.Status>)ViewData["statuses"];
    IEnumerable<Enrollment> enrollments = (IEnumerable<Data.Entities.Enrollment>)ViewData["enrollments"];
    IEnumerable<Reservation> reservations = (IEnumerable<Data.Entities.Reservation>)ViewData["reservations"];
}
<link rel="stylesheet" href="~/css/AdminDashboard.css" />

        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                </span> Admin Panel
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
    <div class="row" style="background-color: rgba(0, 128, 0, 0.0);">
    <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                    <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                             Users Application <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@users.Count()</h2>
                   </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Upcoming Appointments <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@reservations.Count()</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                    <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            New Course Enrollments <i class="mdi mdi-diamond mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@enrollments.Count()</h2>
                   </div>
                </div>
            </div>
        </div>

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Reservations</h4>
                <div class="input-group">
                    <input type="text" class="form-control" id="userSearch" placeholder="Search user">
                    <span class="input-group-text"><i class="mdi mdi-account-search-outline"></i></span>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> User </th>
                                <th> Service </th>
                                <th class="" style="text-decoration:none; font-weight:normal">
                                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                        Status
                                    </a>
                                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                                        @foreach (var v in statuses)
                                        {
                                            <a class="dropdown-item selected-status">
                                                @v.Name
                                            </a>
                                            <div class="dropdown-divider"></div>
                                        }
                                        <a class="dropdown-item selected-status">
                                            All
                                        </a>
                                    </div>
                                </th>
                                <th> Inspiration </th>
                                <th> Result </th>
                                <th> Start </th>
                                <th> End </th>
                                <th>     </th>
                            </tr>
                        </thead>
                        <tbody id="reservationsTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<div id="imagemodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <img id="modalImage" src="" alt="Large Image" />
            @if (context.HttpContext.User.IsInRole("admin"))
            {
                <form method="post" enctype="multipart/form-data" asp-controller="Reservation" id="uploadphoto" asp-action="UploadFile1">
                    <div class="mb-3">
                        <input class="form-control" type="file" name="uploadFile" id="uploadFile" />
                    </div>
                    <input class="reservationIdUploadPhoto" type="hidden" name="id" />
                    <button type="submit" class="btn btn-primary">
                        <i class="mdi mdi-upload"></i> Send File
                    </button>
                </form>
            }
            <a class="downloadhref btn btn-success" download>
                <i class="mdi mdi-download"></i> Download File
            </a>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="myModal1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Reservation Status</h5>
                <span aria-hidden="true">
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                </span>
            </div>
            <div class="modal-body " id="contentReservation">
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success alert-dismissible fade" id="statusChangedMsg" role="alert" style="display: none;">
    Status has been changed.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<script>

    var selectedStatus = 'All';
    refreshTable(selectedStatus);

    $(document).on('click', '.changeReservationStatus', function () {
        var reservationId = $(this).data('reservation-id');
        var statusChangedMsg = $('#statusChangedMsg');

        $("#myModal1").modal("show");
        $.ajax({
            url: '/Reservation/changeReservationStatus',
            type: 'GET',
            data: { id: reservationId },
            success: function (data) {
                $('#contentReservation').html(data);
                statusChangedMsg.fadeIn().delay(3000).fadeOut();

                $('#myModal1 .form').on('submit', function (event) {
                    event.preventDefault();

                    var formData = $(this).serialize();

                    $.ajax({
                        url: '/Reservation/changeReservationStatus',
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                            refreshTable(selectedStatus);
                        }
                    });
                });
            }
        });
    });

    $(document).on('click', '.reservationphotos', function () {
        var photoPath = $(this).data('photo-path');
        var reservatioinId = $(this).data('reservation-id');
        $('#modalImage').attr('src', photoPath);
        $('.downloadhref').attr('href', photoPath);
        $('#uploadphoto').css({ 'display': 'none' })
        $('#imagemodal').modal('show');
    });

    $(document).on('click', '.uploadphoto', function () {
        var photoPath = $(this).data('photo-path');
        var reservatioinId = $(this).data('reservation-id');
        $('#modalImage').attr('src', photoPath);
        $('.downloadhref').attr('href', photoPath);
        $('#uploadphoto').css({ 'display': 'block' })
        $('.reservationIdUploadPhoto').attr('value', reservatioinId);
        $('#imagemodal').modal('show');
    });

    $(document).on('click', '.selected-status', function () {
        selectedStatus = $(this).text().trim();
        refreshTable(selectedStatus);
    });

    function refreshTable(selectedStatus) {
        $.ajax({
            url: '/Reservation/getReservationsByStatus',
            type: 'GET',
            data: { status: selectedStatus },
            success: function (result) {
                $('#reservationsTable').html(result);
                highlightTomorrowRows()
            },
        });
    }

    function allReservations() {
        $.ajax({
            url: '/Reservation/getAll',
            type: 'GET',
            data: { status: selectedStatus },
            success: function (result) {
                $('#reservationsTable').html(result);
            },
        });
    }

    $('#userSearch').on('keyup', function () {
        var searchText = $(this).val().toLowerCase();
        filterTable(searchText);
    });


    function filterTable(searchText) {
        $('#reservationsTable tr').each(function () {
            var username = $(this).find('td:first').text().toLowerCase();
            if (username.indexOf(searchText) === -1) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    }
    function highlightTomorrowRows() {
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    var dd = String(tomorrow.getDate()).padStart(2, '0');
    var mm = String(tomorrow.getMonth() + 1).padStart(2, '0');
    var yyyy = tomorrow.getFullYear();
    var tomorrowFormatted = yyyy + '-' + mm + '-' + dd;

        $('#reservationsTable tr').each(function () {
        console.log(this);
        var startDate = $(this).find('td').eq(5).text().trim();
        var date = new Date(startDate);
        var year = date.getFullYear();
        var month = String(date.getMonth() + 1).padStart(2, '0');
        var day = String(date.getDate()).padStart(2, '0');
        date = year + '-' + day + '-' + month;

        console.log('startDate', date);
        console.log('tommortow', tomorrowFormatted);
        if (date === tomorrowFormatted) {
                $(this).css('background-color', 'rgba(255, 0, 0, 0.1)');
            }
    });
    }
</script>
