@model Data.Entities.Reservation1
    <div class="col-md-4">
        <form asp-action="changeReservationStatus" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="id" id="id" class="form-control" type="hidden" value="@ViewBag.ReservationId" />
            </div>
            <div class="form-group">
                <label name="status" status="status" class="control-label">Status</label>
                <select name="status" status="status" class="form-control" asp-items="ViewBag.StatusList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
