/* Fonts */

//PT_Sans
@font-face {
  font-family: 'ubuntu-light';
  src: url('../fonts/Ubuntu/Ubuntu-Light.eot'); 
  src: url('../fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2'), /
       url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff'),
       url('../fonts/Ubuntu/Ubuntu-Light.ttf')  format('truetype'),
}
@font-face {
  font-family: 'ubuntu-regular';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.eot'); 
  src: url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'), 
       url('../fonts/Ubuntu/Ubuntu-Regular.woff') format('woff'), 
       url('../fonts/Ubuntu/Ubuntu-Regular.ttf')  format('truetype'), 
}
@font-face {
  font-family: 'ubuntu-medium';
  src: url('../fonts/Ubuntu/Ubuntu-Medium.eot');
  src: url('../fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
       url('../fonts/Ubuntu/Ubuntu-Medium.woff') format('woff'), 
       url('../fonts/Ubuntu/Ubuntu-Medium.ttf')  format('truetype'), 
}
@font-face {
  font-family: 'ubuntu-bold';
  src: url('../fonts/Ubuntu/Ubuntu-Bold.eot');
  src: url('../fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2'),
       url('../fonts/Ubuntu/Ubuntu-Bold.woff') format('woff'), 
       url('../fonts/Ubuntu/Ubuntu-Bold.ttf')  format('truetype'),
}
