@model IEnumerable<Data.Entities.Attendance>

@{
    var courses = (IEnumerable<Data.Entities.Course>)ViewData["courses"];
}
<div class="row mb-3">
    <div class="col-md-6">
        <label for="courseDropdown" class="form-label">Select Course:</label>
        <select class="form-select" id="courseDropdown">
            <option value="0">Select a course</option>
            @foreach (var course in courses)
            {
                <option value="@course.Id">@course.Title</option>
            }
        </select>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-4">
        <label for="userSearch" class="form-label">Search for a user:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="userSearch" placeholder="Last Name">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
    </div>
    <div class="col-md-4">
        <label for="cycleDropdown" class="form-label">Select Cycle:</label>
        <div class="input-group flex-grow-1">
            <select class="form-select" id="cycleDropdown">
                <option value="0">All</option>
            </select>
            <button class="btn ms-3" type="button" id="filterButton">
                <i class="bi bi-funnel"></i>
            </button>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-end">
        <div id="saveContainer" class="ms-3"></div>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Reservations</h4>
                <div class="table-responsive">
                    <table class="table" id="headerTableAttendance">
                        <thead>
                            <tr>
                                <th>Course Member</th>
                                <th>Days Not Met</th>
                            </tr>
                        </thead>
                        <tbody id="attendancesTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons (jeśli używasz) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">
<script>
    // Pobierz referencje do pól wyboru
    const courseDropdown = document.getElementById('courseDropdown');
    const cycleDropdown = document.getElementById('cycleDropdown');
    var cyclesData; // Zmienna globalna do przechowywania danych o cyklach
    var currentUserId; // Zmienna globalna do przechowywania danych o cyklach

    $(document).ready(function () {
        $('#courseDropdown').change(function () {
            courseId = $(this).val();

            $.ajax({
                url: '/Cycles/GetCyclesForCourse',
                type: 'GET',
                data: { courseId: courseId },
                success: function (cycles) {
                    cyclesData = cycles; // Przechowujemy cykle w zmiennej globalnej

                    var dropdown = $('#cycleDropdown');
                    console.log('Received cycles:', cycles);

                    // Clear existing options except the first one (Wszystkie)
                    dropdown.find('option:not(:first)').remove();


                    if (Array.isArray(cycles)) {
                        cycles.forEach( (e) => {
                            console.log('Cycle Title:', e.title);

                            var option = $('<option></option>').attr('value', e.id).text(e.title);
                            dropdown.append(option);
                        });
                    }
                    

                    // Iteruj przez cykle i dodaj je jako nagłówki tabeli
                    if (Array.isArray(cycles)) {
                        var dropdown = $('#cycleDropdown');

                        var tableHeadRow = $('#headerTableAttendance thead tr');

                    // Usuń poprzednie nagłówki z tabeli (jeśli istnieją)
                        $('#headerTableAttendance th:not(:lt(2))').remove();

                        cycles.forEach((e) => {
                               var cycleHeader = $('<th></th>').text(e.title).attr('data-cycle-id-th', e.id);
                            cycleHeader.attr('data-cycle-start', e.startDate);

                            console.log('Cycle Title:', e.title);

                            tableHeadRow.append(cycleHeader);
                        });
                    } 
                    else {
                        console.error('Invalid cycles data format:', cycles);
                        alert('An error occurred while fetching cycles.');
                    }
                },
                error: function () {
                    alert('An error occurred while fetching cycles.');
                }
            });



            $.ajax({
                url: '/Courses/GetCourseUsers',
                type: 'GET',
                data: { courseId: courseId },
                success: function (users) {
                    console.log('users:', users);
                    var tableBody = $('#attendancesTable');

                    // Wyczyść istniejące wiersze w tabeli
                    tableBody.empty();

                    // Iteruj przez użytkowników i dodaj wiersze do tabeli
                    users.forEach((user) => {
                        const currentUserId = user.id; // Zmienna globalna do przechowywania danych o cyklach

                        // Tutaj możesz dodać więcej kolumn, jeśli masz więcej informacji o użytkownikach
                        var tableRow = $('<tr></tr>');

                        console.log('user:', user);
                        tableRow.attr('user-id-row', user.id);

                        // Dodaj kolumnę z obrazkiem
                        var imageCell = $('<td></td>');
                        if (user.photos[0] == null) {
                            var userImage = $('<img>').attr('src', 'https://localhost:44367/images/blank-user.png').attr('alt', 'User Image');
                        } else {
                            var userImage = $('<img>').attr('src', 'https://localhost:44367/images/' + user.photos[0].path).attr('alt', 'User Image');
                       
                        }
                        var userNameCell = $('<p></p>').text(user.firstName + " " + user.lastName).css({
                            'margin-left': '10px', // Ustawienie marginesu z lewej strony dla tekstu
                            'display': 'inline-block' // Ustawienie inline-block, aby tekst był w jednej linii z obrazkiem
                        });

                        imageCell.append(userImage);
                        imageCell.append(userNameCell);
                        tableRow.append(imageCell);

                        // Dodaj kolumnę dla liczby dni nieobecności
                        var daysNotMetCell = $('<td></td>').text("-");
                        tableRow.append(daysNotMetCell);


                        var thElements = $('#headerTableAttendance th[data-cycle-id-th]').get(); // Pobranie elementów i zamiana na tablicę


                        function processCycle(thElements, index = 0) {
                            if (index >= thElements.length) {
                                // Zakończ, gdy wszystkie elementy zostaną przetworzone
                                tableBody.append(tableRow);
                                return;
                            }

                            const cycleId = $(thElements[index]).attr('data-cycle-id-th');
                            console.log('CYCLE ID from th:', cycleId);

                            var attendanceCell = $('<td></td>');
                            attendanceCell.attr('data-cycle-id-colrow', cycleId);

                            console.log('CYCLE ID from th:', cycleId);
                            console.log('USER ID from th:', user.id);
                            console.log('USER ID from th:', user.id);

                            fillCell(user.id, cycleId, courseId, attendanceCell, function () {
                                // Po zakończeniu żądania AJAX, wykonaj rekurencyjnie dla następnego elementu
                                processCycle(thElements, index + 1);
                            });
                        }

                        function fillCell(userId, cycleId, courseId, cell, callback) {
                            $.ajax({
                                url: '/Attendances/CheckAttendance',
                                type: 'GET',
                                data: { userId: userId, cycleId: cycleId, courseId: courseId },
                                success: function (isPresent) {
                                    console.log('Table userId:', userId);
                                    console.log('Table cycleId:', cycleId);
                                    console.log('Table courseId:', courseId);

                                    var iconClass = isPresent ? "mdi mdi-bookmark-check" : "mdi mdi-bookmark-remove";
                                    var iconColor = isPresent ? "green" : "red";

                                    var icon = $('<i></i>').addClass(iconClass).css('color', iconColor);
                                    cell.empty().append(icon);

                                    tableRow.append(cell);

                                    callback(); // Wywołanie funkcji zwrotnej po zakończeniu
                                },
                                error: function () {
                                    alert('An error occurred while fetching attendance.');
                                    callback(); // Wywołanie funkcji zwrotnej po zakończeniu (nawet w przypadku błędu)
                                }
                            });
                        }

                        // Rozpoczęcie procesu dla thElements
                        processCycle(thElements);
                        // Dodaj wiersz do tabeli
                        tableBody.append(tableRow);
                    });
                },
                error: function () {
                    alert('An error occurred while fetching users.');
                }

            });
        });
      


    // Obsługa kliknięcia przycisku SAVE
    $(document).on('click', '#saveButton', function () {
        var cycleId = $(this).data('cycle-id');
        var selectedUsers = [];
        $('input[type="checkbox"]:checked').each(function () {
            var userIdRow = $(this).closest('tr').attr('user-id-row');
            selectedUsers.push(userIdRow);
        });

        $.ajax({
            url: '/Attendances/AddAttendance', // Podmień 'Controller' i 'Action' odpowiednio
            type: 'POST',
            data: { courseId: courseId, cycleId: cycleId, selectedUsers: selectedUsers }, // Przekazanie wybranych ID użytkowników
            traditional: true, // Użyj tradycyjnego sposobu serializacji danych
            success: function (result) {
                // Obsługa sukcesu
                console.log('Users saved:', result);
                var selectedValue = courseId;
                $('#courseDropdown').val(selectedValue);

                // Wywołanie zdarzenia change ręcznie
                $('#courseDropdown').trigger('change');

                // Ukryj przycisk SAVE po zapisaniu
                $('#saveButton').hide();
                        $('#cancelButton').hide();

            },
            error: function () {
                // Obsługa błędu
                alert('Wystąpił błąd podczas zapisu.');
            }
        });
    });

    // Obsługa kliknięcia przycisku CANCEL
    $(document).on('click', '#cancelButton', function () {
        // Usunięcie klasy highlight-column ze wszystkich komórek
        $('#attendancesTable td').removeClass('highlight-column');

        // Ukrycie checkboxów
        $('input[type="checkbox"]').hide();
        $('#saveButton').hide();
        $('#cancelButton').hide();


    });

        $('#headerTableAttendance').on('click', 'th[data-cycle-id-th]', function () {
            var cycleId = $(this).data('cycle-id-th');
            var tableCells = $('#attendancesTable tr td[data-cycle-id-colrow="' + cycleId + '"]');
            console.log('Cycle id:', cycleId);

            // Usunięcie klasy highlight-column ze wszystkich komórek
            $('#attendancesTable td').removeClass('highlight-column');

            // Ukrycie checkboxów
            $('input[type="checkbox"]').hide();

            tableCells.each(function () {
                var isChecked = $(this).text() === 'V';
                var checkbox = $('<input>').attr({
                    type: 'checkbox',
                    checked: isChecked
                });
                $(this).append(checkbox);
            });

            tableCells.addClass('highlight-column');

            // Dodanie przycisku SAVE
            var saveButton = $('<button>').text('SAVE').attr({
                id: 'saveButton',
                class: 'btn btn-primary'
            });

            // Przypisanie ID cyklu do atrybutu data
            saveButton.attr('data-cycle-id', cycleId);

            // Dodanie przycisku CANCEL
            var cancelButton = $('<button>').text('CANCEL').attr({
                id: 'cancelButton',
                class: 'btn btn-secondary'
            });

            $('#saveContainer').empty().append(saveButton, cancelButton); // Dodanie obu przycisków do kontenera
        });

    $('#cycleDropdown').change(function () {
        var selectedCycleId = $(this).val();

        if (selectedCycleId === "0") {
            // Jeśli wybrano "Wszystkie", pokaż wszystkie kolumny i komórki związane z cyklami
            $('#headerTableAttendance th[data-cycle-id-th]').show();
            $('#attendancesTable td[data-cycle-id-colrow]').show();
        } else {
            // Ukryj kolumny związane z cyklami (th) niepasującymi do wybranego cyklu
            $('#headerTableAttendance th[data-cycle-id-th]').each(function () {
                var cycleIdForColumn = $(this).attr('data-cycle-id-th');

                if (cycleIdForColumn !== selectedCycleId) {
                    $(this).hide(); // Ukryj kolumnę związana z innym cyklem
                } else {
                    $(this).show(); // Pokaż kolumnę związana z wybranym cyklem
                }
            });

            // Ukryj komórki związane z cyklami (td) niepasującymi do wybranego cyklu
            $('#attendancesTable td[data-cycle-id-colrow]').each(function () {
                var cycleIdForCell = $(this).attr('data-cycle-id-colrow');

                if (cycleIdForCell !== selectedCycleId) {
                    $(this).hide(); // Ukryj komórkę związana z innym cyklem
                } else {
                    $(this).show(); // Pokaż komórkę związana z wybranym cyklem
                }
            });
        }
    });


    $('#userSearch').on('input', function () {
        var searchText = $(this).val().toLowerCase(); // Pobierz tekst z pola wyszukiwania i zmień na małe litery

        // Iteruj przez wiersze tabeli
        $('#attendancesTable tr').each(function () {
            var userName = $(this).find('td:first-child p').text().toLowerCase(); // Pobierz tekst z pierwszej kolumny (nazwa użytkownika) i zmień na małe litery

            // Sprawdź, czy nazwa użytkownika pasuje do wpisanego tekstu
            if (userName.includes(searchText)) {
                $(this).show(); // Jeśli pasuje, pokaż wiersz tabeli
            } else {
                $(this).hide(); // Jeśli nie pasuje, ukryj wiersz tabeli
            }
        });
    });
    });

    var sortDirection = 1; // 1 dla rosnącego, -1 dla malejącego

    $(document).ready(function () {
        // Obsługa kliknięcia w pierwszą kolumnę tabeli
        $('#filterButton').click(function () {
            // Pobierz wszystkie wiersze z tabeli i zamień je na tablicę
            var rows = $('#attendancesTable tr').get();

            // Sortuj tablicę zgodnie z zawartością pierwszej kolumny (imię i nazwisko użytkownika)
            rows.sort(function (a, b) {
                var textA = $(a).find('td:first-child p').text().toUpperCase();
                var textB = $(b).find('td:first-child p').text().toUpperCase();

                // Porównaj imiona i nazwiska zgodnie z aktualnym kierunkiem sortowania
                if (textA < textB) {
                    return -1 * sortDirection;
                } else if (textA > textB) {
                    return 1 * sortDirection;
                }
                return 0;
            });

            // Wyczyść tabelę
            $('#attendancesTable').empty();

            // Zaktualizuj tabelę z posortowanymi wierszami
            $.each(rows, function (index, row) {
                $('#attendancesTable').append(row);
            });

            // Zmiana kierunku sortowania na przeciwny (jeśli był wcześniej rosnący, teraz będzie malejący i vice versa)
            sortDirection = -1 * sortDirection;
        });
    });

</script>