<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Application</title>
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src='~/fullCalendar/dist/index.global.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <link rel="stylesheet" href="~/css/courses/course.css" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" asp-controller="Home" asp-action="Home">
                    <img src="~/assets/images/logo.png" style="height:max-content" alt="logo" />                    
                </a>
                <a class="navbar-brand brand-logo-mini" asp-controller="Home" asp-action="Home"><img style="height:35px;width:35px " src="~/assets/images/minilogo.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                    <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="nav-profile-img">
                                    @if (User.FindFirst("ProfilePhotoPath").Value.ToString().Length >= 3)
                                    {
                                        <img src="~/images/@User.FindFirst("ProfilePhotoPath").Value.ToString()" alt="UserPhoto" />
                                        <span class="availability-status online"></span>
                                    }
                                    else
                                    {
                                        <img src="~/images/blank-profile.png" alt="blankuser" />
                                        <span class="availability-status offline"></span>
                                    }
                                </div>
                                    <div class="nav-profile-text">
                                        <p class="mb-1 text-black">@User.FindFirst("FullName").Value</p>
                                    </div>
                            </a>
                            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="MyUser">
                                    <i class="mdi mdi-cached me-2 text-success"></i> My account
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
                                    <i class="mdi mdi-logout me-2 text-primary"></i> Signout
                                </a>
                            </div>
                    </li>
                        }
                         else
                        {
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link btn" asp-area="" asp-controller="Account" asp-action="LoginPage" >
                                <div class="nav-profile-text">
                                    <p class="mb-1 text-black">Sign in</p>
                                </div>
                            </a>
                        </li>
                        }
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                       @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" asp-area="" asp-action="GetConversation" asp-controller="Message" asp-route-id="" id="messageDropdown">
                                <i class="mdi mdi-email-outline"></i>
                                @if (User.Identity.IsAuthenticated && User.FindFirst("newMessage").Value.ToLower() == "true")
                                {
                                    <span style="color:darkred; float:top" class="mdi mdi-alert-circle"></span>
                                }
                            </a>
                        </li>
                        <li class="nav-item nav-logout d-none d-lg-block">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>
                    }
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    var customClaimValue = User.FindFirst("ProfilePhotoPath").Value;

                                    @if (customClaimValue.ToString().Length >= 3)
                                    {
                                        <img src="~/images/@customClaimValue" alt="Profile" />
                                        <span class="login-status online"></span>
                                    }
                                }
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="nav-profile-text d-flex flex-column">
                                    <span class="font-weight-bold mb-2">@User.FindFirst("FullName").Value</span>
                                </div>
                                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                            }
                        </a>
                    </li>

                      @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="AdminDashboard" asp-controller="User" asp-route-id="">
                                <span class="menu-title">Dashboard</span>
                                <i class="mdi mdi-home menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="GetConversation" asp-controller="Message" asp-route-id="" id="messageDropdown">
                                <span class="menu-title">Messages</span>
                                <i class="mdi mdi-message-processing menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="MakeUpCreator" asp-route-id="">
                            <span class="menu-title">MakeUp Creator</span>
                            <i class="mdi mdi-brush menu-icon"></i>
                        </a>
                    </li>}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#" data-bs-target="#courses-pages" aria-expanded="false" aria-controls="courses-pages">
                            <span class="menu-title">Courses</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-book-open-page-variant menu-icon"></i>
                        </a>
                        <div class="collapse" id="courses-pages">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Courses">
                                        Courses
                                    </a>
                                </li>
                                   @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-action="GetUserCourses" asp-controller="Courses">
                                            My Courses
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Attendances" asp-route-id="">
                                        Attendances
                                    </a>
                                </li>}
                            </ul>
                        </div>
                    </li>
                     @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Reservation">
                            <span class="menu-title">Reservations</span>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#" data-bs-target="#calendars-pages" aria-expanded="false" aria-controls="calendars-pages">
                            <span class="menu-title">Calendar</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-calendar-clock menu-icon"></i>
                        </a>
                        <div class="collapse" id="calendars-pages">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> 
                                    <a class="nav-link" asp-area="" asp-action="Calendar" asp-controller="Reservation" asp-route-id="">
                                        Reservations Calendar 
                                    </a>
                                </li>
                                  @if (User.IsInRole("admin"))
                                {
                                    <li class="nav-item"> 
                                        <a class="nav-link" asp-area="" asp-action="SlotsCalendar" asp-controller="ReservationSlots" asp-route-id="">
                                            Service Hours Calendar
                                    </a>
                                </li>}
                            </ul>
                        </div>
                    </li>
                       @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="collapse" href="#" data-bs-target="#services-pages" aria-expanded="false" aria-controls="services-pages">
                                <span class="menu-title">Services</span>
                                <i class="menu-arrow"></i>
                                <i class="mdi mdi-medical-bag menu-icon"></i>
                            </a>
                            <div class="collapse" id="services-pages">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> 
                                        <a class="nav-link" asp-area="" asp-action="AddService" asp-controller="Services" asp-route-id="">
                                            Add Service 
                                        </a>
                                    </li>
                                    <li class="nav-item"> 
                                        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Services">
                                            Services
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-action="Contact" asp-controller="Home" asp-route-id="">
                            <span class="menu-title">Contact</span>
                            <i class="mdi mdi-contact-mail menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                   @RenderBody()
                </div>
                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © BeautyApp</span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
   <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
</body>
</html>

@*<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id = "modaltitle"class="modal-title"></h5>
                <span aria-hidden="true">
                    <button type="button" id="closeModal" class="btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                </span>
            </div>
            <div class="modal-body " id="editReservationContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary registerBtn" data-dismiss="modal">Register</button>
            </div>
        </div>
    </div>
</div>*@

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<script>


</script>