@model Data.Dto_s.LoginDto
<style>
    #LoginUserForm {
        position: relative;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: 1001; /* Umieść treść modala na wierzchu tła */
    }


    /* Styl dla przycisku zamknięcia modala */
    #closeModal {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    /* Styl dla tła modala */
    #modalBackground {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Kolor tła z przezroczystością */
        z-index: 1000; /* Umieść tło pod treścią modala */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Styl dla tła z efektem blur */
    #blurredBackground {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px); /* Dodaj efekt blur */
        z-index: 999; /* Umieść tło z blur na niższym poziomie niż tło modala */
    }
</style>
<!-- Dodaj to do sekcji "Login" -->

<div id="blurredBackground"></div>
<div id="modalBackground">
    <div id="LoginUserFormModal" class="col-md-4">
        <div class="modal-content">
            <span id="closeModal" class="btn-close" onclick="closeModal()"></span>
            <form asp-action="LoginPage" id="LoginUserForm" class="account-login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" id="LoginUserButton" class="btn btn-primary" />
                    <button id="registerUserButton" class="btn btn-secondary" asp-action="RegisterUser" formmethod="get">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $(document).ready(function () {
        openModal();
    });

    function openModal() {
        $("#blurredBackground").fadeIn();
        $("#modalBackground").fadeIn();
        $("#LoginUserFormModal").fadeIn();
        $("body").addClass("modal-open");
    }

    function closeModal() {
        $("#blurredBackground").fadeOut();
        $("#modalBackground").fadeOut();
        $("#LoginUserFormModal").fadeOut();
        $("body").removeClass("modal-open");
    }
</script>