@model Data.Dto_s.RegisterUserDto
<style>
    #RegisterUserForm {
        position: relative;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: 1001; 
    }

    #RegisterUserFormModal{
        margin-top:10px;
    }

    #registerModalBackground {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        z-index: 1000; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #blurredRegisterBackground {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px); 
        z-index: 999; 
    }
    .form-control{
        border-radius: 50px !important;
        width: 230px;
    }

        .form-control:focus {
            border-color: rgb(182 109 255);
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(182, 109, 255, 0.1);
    }
</style>

<div id="blurredRegisterBackground" ></div>
<div id="registerModalBackground" >
    <div id="RegisterUserFormModal"@* class="col-md-4"*@>
        <div class="modal-content" style="align-items:center;">
                <form asp-action="RegisterUser" id="RegisterUserForm" class="account-registration">
            <h2 style="color: rgb(182 109 255); text-align:center">Register</h2>
            <div style="padding:50px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" placeholder="Email" class="form-control rounded" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <input type="password" placeholder="Password" asp-for="Password" class="form-control rounded" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <input type="password" placeholder="Confirm password" asp-for="ConfirmPassword" class="form-control rounded" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group" style="text-align:center; ">
                    <input type="submit" id="registerUserButton" class="btn-rounded btn btn-outline-primary" value="Register" />

                    <p style="padding-top:24px;">
                            Already have an account? <a id="LoginUserButton" asp-action="LoginPage" class="" formmethod="get">Sign in</a>
                    </p>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        openModal();
    });

    function openModal() {
        $("#blurredBackground, #registerModalBackground, #RegisterUserFormModal").fadeIn();
        $("body").addClass("modal-open");
    }

    function closeModal() {
        $("#blurredBackground, #registerModalBackground, #RegisterUserFormModal").fadeOut();
        $("body").removeClass("modal-open");
    }

    $(document).mouseup(function (e) {
        var modal = $("#RegisterUserFormModal");
        if (!modal.is(e.target) && modal.has(e.target).length === 0) {
            closeModal();
        }
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}