h4.font-weight-normal.mb-3{
    padding:1px;
    background-color:#a55eff;
}
h2.mb-5{
    padding:1px!important;
    //background-color:red;
    margin-bottom:10px!important;

}
.card-body{
    //background-color:black;
    padding:10px!important;
    margin:0px!important;
    padding-bottom:0px!important;
}