<style>
    .img-container {
        width: 50%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }

    .img {
        max-width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
        border-radius: 20px;
    }

    .img:hover {
        transform: scale(1.1);
        z-index: 0;
    }

    .text-container {
        width: 50%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
        background-image: linear-gradient(90deg, rgba(168,98,240,1) 0%, rgba(220,145,252,1) 20%, rgba(168,98,240,1) 96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 17px;
        transition: transform 0.3s ease-in-out;
    }

    .text-container:hover {
        transform: scale(1.1);
        z-index: 0;
    }
</style>
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <div class="w-100 h-100 d-flex">
                <div class="img-container">
                    <img id="img1" class="img" src="~/images/picture1.jpg" alt="salonImg">
                </div>
                <div class="text-container">
                    <p>Beauty Salon</p>
                    Welcome to our Beauty Salon, where indulgence meets expertise to bring out your true radiance. Step into a world of beauty and relaxation, where our salon is committed to providing a range of exceptional services tailored to enhance your natural glow.
                </div>
                <div class="img-container">
                    <img id="img2" class="img" src="~/images/picture2.jpg" alt="salonImg" />
                </div>
                <div class="text-container">
                    <p>Diverse Beauty Services</p>
                    Explore a diverse array of beauty services designed to pamper and revitalize. From luxurious facials that rejuvenate your skin to precision hair styling that reflects your unique style, our salon offers a comprehensive menu of services. Our skilled beauty professionals are passionate about bringing out your best features and ensuring you leave feeling refreshed and confident.
                </div>
            </div>
        </div>
    </div>
</div>