@model IEnumerable<Data.Entities.Message>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "";
}
@if (Model.First().User1 != null && Model.First().User1 != null){
<style>
    .mask-custom {
        background: rgba(24, 24, 16, .2);
        border-radius: 2em;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }

        .list-with-scroll {
            /* Dodaj pasek przewijania poziomego (jeśli potrzebny) */
            overflow-x: hidden;
            /* Dodaj pasek przewijania tylko w pionie */
            overflow-y: scroll;
            /* Ustaw szerokość i wysokość, aby określić obszar wyświetlania */
            max-height: 350px; /* Dostosuj wysokość do Twoich potrzeb */
        }

        /* Dodatkowy styl dla przewijanego obszaru */
        .scrollable-area::-webkit-scrollbar {
            width: 9px; /* Szerokość paska przewijania */
        }

        /* Kolor paska przewijania */
        .scrollable-area::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 4px;
        }

        .message-text {
            font-size: 14px; /* Dostosuj rozmiar czcionki do Twoich potrzeb */
            margin-bottom: 5px; /* Zmniejsz margines dolny między wiadomościami */
        }
    </style>
    <ul class="list-unstyled list-with-scroll scrollable-area  text-white">

        @foreach (var item in Model)
        {
            @if (item.User1.Email == Context.User.Identity.Name)
    {

        <li class="d-flex justify-content-between mb-4">
                    <div class="card mask-custom w-100" style="margin-left: auto;">
                <div class="card-header d-flex justify-content-between p-7"
                     style="border-bottom: 1px solid rgba(255,255,255,.3);">
                    <p class="fw-bold mb-0">@item.User1.FirstName</p>
                    <p class="text-light small mb-0"><i class="far fa-clock"></i> 13 mins ago</p>
                </div>
                <div class="card-body">
                            <p class="mb-0 message-text">
                        @item.Text
                    </p>
                </div>
            </div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                 class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
        </li>
            }

            else
            {

        <li class="d-flex justify-content-between mb-4">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                 class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                    <div class="card mask-custom" style="margin-right: auto;">
                <div class="card-header d-flex justify-content-between"
                     style="border-bottom: 1px solid rgba(255,255,255,.3);">
                    <p class="fw-bold mb-0">@item.User1.FirstName</p>
                        <p class="text-light small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
                    </div>
                <div class="card-body ">
                    <p class="mb-0">
                        @item.Text
                    </p>
                </div>
            </div>
        </li>
            }
        }</ul>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
}