
<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="changeReservationStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="id" id="id" class="form-control" value="@ViewBag.ReservationId" />
            </div>
            <div class="form-group">
                <label name="status" status="status" class="control-label"></label>
                <select name="status" status="status" class="form-control" asp-items="ViewBag.StatusList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
