@model Data.Entities.Reservation
@inject IHttpContextAccessor context;
<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (@context.HttpContext.User.IsInRole("admin"))
               { <div class="form-group">
                    <label class="control-label"></label>
                    <select name="userEmail" id="userEmail" class="form-control" asp-items="ViewBag.Emails"></select>
                </div>
            }
            else{
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label"></label>
                    <input name="userEmail" id="userEmail" class="form-control" value ="@context.HttpContext.User.Identity.Name" readonly/>
                </div>
            }
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" value="@ViewBag.Start" readonly />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" value="@ViewBag.serviceName" readonly />
            </div>
            <div class="form-group">
                <label asp-for="PrimaryColor" class="control-label"></label>
                <input asp-for ="PrimaryColor" type="color">
                <span asp-validation-for="PrimaryColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondaryColor" class="control-label"></label>
                <input asp-for="SecondaryColor" type="color">
                <span asp-validation-for="SecondaryColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
