.table-responsive{
      overflow-y: scroll;
      height: 70vh;     
}

.table-responsive::-webkit-scrollbar {
  width: 12px; 
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #00000026;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

a.dropdown-item{
  font-size:14px;
  font-family:sans-serif;
}
.form-control {
    border-radius: 50px !important;
    width: 230px;
}

.form-control:focus {
    border-color: rgb(182 109 255);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(182, 109, 255, 0.1);
}