html {
  font-size: 14px;
}

@media (min-width: 2560px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  max-width:2560px;
}

body {
  max-width:2560;
  margin-bottom: 60px;
  padding:0px 10px 40px 10px;
  max-height: 100vh; /* Ustawienie wysokości body na 100% wysokości widoku */
  display: flex; /* Użycie flexbox dla body */
  flex-direction: column; /* Ustawienie kierunku na kolumnę, aby można było użyć flex-grow */
}
header{
  flex-grow: 1; /* Element .content1 zajmie resztę dostępnej przestrzeni (połowę, bo stopka ma 60px margin-bottom) */
  max-width:100%;
}
.content1{
  flex-grow: 2; /* Element .content1 zajmie resztę dostępnej przestrzeni (połowę, bo stopka ma 60px margin-bottom) */
  max-width:100%;
}

.footer {
 height: 60px; /* Wysokość stopki */
  line-height: 60px; /* Ustawienie linii tekstu w pionie */
  background-color: #3330; /* Kolor tła stopki */
  color: white; /* Kolor tekstu w stopce */
  text-align: center; /* Wyśrodkowanie tekstu w stopce */
  position: relative; /* Ustawienie pozycji */
  bottom: 0; /* Ustawienie na dole */
  width: 100%; /* Szerokość 100% */
}

.header-profile-user {
    height: 20px;
    width: 20px;
    background-color: #f6f6f6;
    padding: 0px;
}
.rounded-circle {
    border-radius: 50%!important;
}